@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    font-size: 16px;
}
html,body{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}
h1{
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.2;
}

h2,h3,h4,h5,h6{
    font-weight: 700;
    line-height: 1.2;
}

main{
    margin-bottom: 200px;
}
main .section.container{
    width: 90%;
    margin: 0 auto;
}
footer{
    font-size: 0.75rem;
}