@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');


html {
    font-size: 16px;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comforta', 'Open Sans', 'Helvetica', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: #333;
    background: #333;
}

h1 {
    font-size: 3rem;
}

h1.title {
    font-weight: 900;
    background: -webkit-linear-gradient(0deg, rgb(61, 58, 241) 25%, rgb(212, 165, 63) 60%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: -1rem;
}

p.sub-title {
    font-weight: 700;
    color: rgb(49, 49, 49);
    font-size: 0.65rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    color: rgba(166, 184, 227, 1);
    font-weight: 700;
    /* word-spacing: 2px; */
}

main {
    margin-bottom: 200px;
    color:rgb(232, 232, 232)
}

main .section.container {
    width: 90%;
    margin: 0 auto;
}

footer {
    font-size: 0.75rem;
    background: rgb(221, 152, 182);
    background: linear-gradient(157deg, rgba(221, 152, 182, 1) 0%, rgba(240, 152, 209, 1) 16%, rgba(193, 168, 209, 1) 48%, rgba(180, 182, 222, 1) 65%, rgba(166, 184, 227, 1) 80%, rgba(148, 233, 233, 1) 100%);
}

.container {
    max-width: 1600px;
}

.jumbotron {
    background: rgb(221, 152, 182);
    background: linear-gradient(157deg, rgba(221, 152, 182, 1) 0%, rgba(240, 152, 209, 1) 16%, rgba(193, 168, 209, 1) 48%, rgba(180, 182, 222, 1) 65%, rgba(166, 184, 227, 1) 80%, rgba(148, 233, 233, 1) 100%);
}

.bg-info {
    background: rgb(221, 152, 182);
    background: linear-gradient(157deg, rgba(221, 152, 182, 1) 0%, rgba(240, 152, 209, 1) 16%, rgba(193, 168, 209, 1) 48%, rgba(180, 182, 222, 1) 65%, rgba(166, 184, 227, 1) 80%, rgba(148, 233, 233, 1) 100%);
}

.bg-secondary {
    background: rgb(145, 100, 176);
    background: linear-gradient(90deg, rgba(145, 100, 176, 1) 0%, rgba(166, 230, 163, 1) 31%, rgba(207, 114, 114, 1) 53%, rgba(224, 180, 118, 1) 91%, rgba(242, 202, 86, 1) 100%);
}

footer div.container {
    background-color: rgba(51, 51, 51, 0.484);
}

footer .row>* {
    background-color: rgba(51, 51, 51, 0.502);
    padding: 1rem;
    font-size: 0.85rem;
}